<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<title>Penyedia Pekerja Rumah Tangga</title>
</head>
<body>
<div class="jumbotron text-center" style="margin-bottom:0">
   <h1>{{judul}}</h1>
	<h2>{{info}}</h2>
	
</div>
	{% block content %}
	{% endblock %}
</body>
</html>